<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Biglidio_MasteringMagento::biglidio_mastering_magento" title="Biglidio" 
            module="Biglidio_MasteringMagento" resource="Biglidio_MasteringMagento::biglidio_mastering_magento" 
            translate="title" sortOrder="900" action="biglidio_mastering_magento"/>
    </menu>
</config>